# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\03_Programming\13_ProgrammingExercises\ProgrammingExercises\Project Euler\14_longestCollatz Sequence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
